{% extends 'index.html' %}
{% load static %}

{% block content %}
	<h1>LOGIN</h1>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button>Login</button>
	</form>
	<br>
	<a href="{% url 'home' %}">Back</a>
	<h4>Not Register Yet?? </h4>
	<a href="{% url 'register' %}">Sign Up Here</a>
{% endblock %}