{% extends 'index.html' %}
{% load static %}

{% block content %}
	<h1>CREATE NEW ACCOUNT</h1>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button>Register</button>
	</form>
	<br>
	<a href="{% url 'home' %}">Back</a>
	<h4>Already Sign Up?? </h4>
	<a href="{% url 'login' %}">Sign in Here</a>
{% endblock %}