{% extends 'index.html' %}
{% load static %}

{% block content %}
	<h1>WELCOME {{user.username}}</h1>
		{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Logout</a>
		<a href="{% url 'home' %}">Homepage</a>
		{% else %}
			<a href="{% url 'login' %}">Login</a>
			<a href="{% url 'register' %}">Register</a>
	{% endif %}
{% endblock %}