{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>STORY9</title>
</head>
<body>
	{% block content %}
	<div style="text-align: center; margin-left: auto; margin-right: auto; width: 75%;">
		<h1 style="background-color: lightblue; margin-top: 0px; margin-bottom: 0px; padding : 20px;">WELCOME TO HOME PAGE</h1>
		{% if user.is_authenticated %}
			<div style="background-color: orange; padding: 50px;">
				<h4> Pergi Ke Dashboard --> <a href="{% url 'dashboard' %}" style="font-size: 20px;color: #41584b;">Dashboard</a></h4>
				
				<br>
				<hr>
				<br>
				<button style="width: 25%;height: 50px;"><a href="{% url 'logout' %}" style="font-size: 20px; text-decoration: none; color: #ff8585;">Logout</a></button>
			</div>
			{% else %}
				<div style="background-color: orange; padding: 50px;">
				<button style="width: 25%;height: 50px;"><a href="{% url 'login' %}" style="font-size: 20px; text-decoration: none; color: #ff8585;">Login</a></button>
				<br>
				<br>
				<button style="width: 25%;height: 50px;"><a href="{% url 'register' %}" style="font-size: 20px; text-decoration: none; color: #ff8585;">Register</a></button>
				</div>
		{% endif %}
	</div>
	{% endblock %}
</body>
</html>